---
layout: default
title: Zhao Lab at UTMB
categories:
 - home
---

<div style="font-size: 30px; font-weight: bold; text-align: center; font-family: 'Arial', sans-serif; height: auto; display: flex; justify-content: center; align-items: center; word-wrap: break-word;">
    Zhao Lab at University of Texas Medical Branch (UTMB)
</div>

<div class="col-lg-12" style="text-align: center;">
    <img src="/images/lab_pic.png" style="width: 100%; max-width: 835px; height: auto;">
</div>


<div class="row">
	<div class="col-lg-12">
		<div class="smallhead">
      	<p>
		We are a computational lab at <a href="https://www.utmb.edu">The University of Texas Medical Branch (UTMB) </a> in Galveston, TX — a beautiful island just southeast of Houston.
		We develop computational methods,  incorporating chemistry-, physics-based, data- and AI-driven approaches, and apply them to study Protein-Protein Interactions regarding their molecular biophysics and interaction pathways. 
		Our long-term goal is to 1) understand disease mechanisms by exploiting the predicted PPI networks, 2) narrow down key protein targets for mutation design, drug discovery and vaccine development. 
		We are interested in Host-Pathogen Interactions and epigenetics. Our lab is part of 
		<a href="https://www.utmb.edu/bmb/home">Department of Biochemistry & Molecular Biology</a> and <a href="https://scsb.utmb.edu/">Sealy Center for Structural Biology and Molecular Biophysics</a>
		in the <a href="https://www.utmb.edu/som/home">UTMB School of Medicine</a>, the <b>first</b> medical school in Texas and the <b>first</b> united public medical school and hospital in the US.
		UTMB is one of the eight academic institutes in the Texas Medical Center (TMC), the world’s largest medical complex.
      	</p>
      	<p>

    	</p>
		</div>
	</div>


</div>

<div class="spacer"></div>

<!-- set row for three columns --> 

<div class="row">

	<!-- first column -->
	<div class="col-md-4">
		<div class="head">
				Pinned posts
		</div>
		<div class="spacer"></div>

		<div class="feedbox">
			{% for post in site.categories.News limit:2 %}

					<div class="note">
						<i class="fa fa-bullhorn fa-fw"></i>
						<a class="off" href="{{ post.url }}">
						{{ post.title }}
						</a>
					</div>
					<div class="smallspacer"></div>
					<div class="smallnote">
						Pinned
						{{ post.date | date: "%b %-d, %Y" }}
					</div>
					<div class="bigspacer"></div>

			{% endfor %}
		</div>
	</div>
	<div class="spacer"></div>

	<!-- second column -->
	<div class="col-md-4">
		<div class="head">
			<a class="off" href="/News/">
				Recent news
			</a>
		</div>
		<div class="spacer"></div>

		<div class="feedbox">
			{% for post in site.categories.News limit: 3 %}

					<!-- fa fa-newspaper-o fa-bullhorn file-text --> 
					<div class="note">
						<i class="fa fa-bullhorn fa-fw"></i>
						<a class="off" href="{{ post.url }}">
						{{ post.title }}
						</a>
					</div>
					<div class="smallspacer"></div>
					<div class="smallnote">
						Posted
						{{ post.date | date: "%b %-d, %Y" }}
					</div>
					<div class="bigspacer"></div>
			{% endfor %}

		</div>
	</div>
	<div class="spacer"></div>

	<!-- third column --> 
	<div class="col-md-4">
		<div class="head">
			<a class="off" href="/Papers/">
				Recent papers
			</a>
		</div>
		<div class="spacer"></div>

		<div class="feedbox">
			{% for paper in site.categories.Papers limit:3 %}

					<div class="note">
						<i class="fa fa-file-text-o fa-fw"></i>
						<a class="off" href="{{ paper.pdf }}">
						{{ paper.title }}
						</a>
					</div>
					<div class="smallspacer"></div>
					<div class="smallnote">
						Posted
						{{ paper.date | date: "%b %-d, %Y" }}
					</div>
					<div class="bigspacer"></div>

			{% endfor %}
		</div>
	</div>
	<div class="spacer"></div>


</div>

<!-- set footer --> 

<div id="footer">
  <nav class="navbar navbar-light bg-navbar">
    <div class="container ml-auto">
      <ul class="navbar-nav flex-row">
        <li class="nav-item">
          <a class="nav-link px-2" href="/misc/contact/">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

