---
layout: default
title: Zhao Lab at UTMB
categories:
 - home
---

<div style="font-size: 30px; font-weight: bold; text-align: center; font-family: 'Arial', sans-serif; height: auto; display: flex; justify-content: center; align-items: center; word-wrap: break-word;">
    Zhao Lab at the University of Texas Medical Branch (UTMB)
</div>

<div class="col-lg-12" style="text-align: center;">
    <img src="/images/lab_pic.png" style="width: 100%; max-width: 835px; height: auto;">
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="smallhead">
      	<p>
		We are an integrative computational biology lab at UTMB in Galveston, TX — a coastal island just southeast of Houston.
		We develop computational methods that  incorporate chemistry-, physics-based, data- and artificial intelligence (AI)-driven approaches, and apply them to study protein-protein interactions (PPIs) focusing on their molecular biophysics and system-level interactions. 
		Our long-term goals are to 1) understand disease mechanisms by exploiting the predicted PPI networks, 2) narrow down key protein targets for mutation design, drug discovery and vaccine development.
		</p>
	  	<p>
		Our lab is part of the
		<a href="https://www.utmb.edu/bmb/home">Department of Biochemistry & Molecular Biology</a> and the <a href="https://scsb.utmb.edu/">Sealy Center for Structural Biology and Molecular Biophysics</a>
		within the <a href="https://www.utmb.edu/som/home">UTMB School of Medicine</a>. 
		UTMB is the oldest medical school in Texas and is home to the <a href="https://en.wikipedia.org/wiki/Galveston_National_Laboratory">Galveston National Laboratory</a>, 
		a leading high-biosafety level (BSL-4) research facility in the United States.
		UTMB is also a member institution of the <a href="https://www.tmc.edu/">Texas Medical Center (TMC)</a>, the world's largest and a leading medical center.
      	</p>
      	<p>

    	</p>
		</div>
	</div>


</div>

<div class="spacer"></div>

<!-- set row for three columns --> 

<div class="row">

	<!-- first column -->
<div class="col-md-4">
  <div class="head">
    Pinboard
  </div>
  <div class="spacer"></div>
	<strong><span style="font-family: 'Georgia', serif; color: grey; font-size: 15px;">
	[<i class="fa fa-camera fa-fw"></i>: Click for Pictures]</span></strong>

  <div class="feedbox">
    {% assign pinned_posts = site.categories.News
      | where_exp: "post", "post.path contains '_pinned'" %}

    {% for post in pinned_posts limit:2 %}
      <div class="note">
        <i class="fa fa-thumb-tack fa-fw"></i>
        <a class="off" href="{{ post.url }}">
          {{ post.title }}
        </a>
      </div>

      <div class="smallspacer"></div>

      <div class="smallnote">
        {{ post.date | date: "%b %-d, %Y" }}
      </div>

      <div class="hugespacer"></div>
    {% endfor %}
  </div>
</div>

<!-- <div class="spacer"></div> !-->

	<!-- second column -->
	<div class="col-md-4">
		<div class="head">
			<a class="off" href="/News/">
				Recent news
			</a>
		</div>
		<div class="spacer"></div>

		<strong><span style="font-family: 'Georgia', serif; color: grey; font-size: 15px;">
		[<i class="fa fa-camera fa-fw"></i>: Click for Pictures]</span></strong>
		<div class="feedbox">

			{% for post in site.categories.News limit: 3 %}

					<!-- fa fa-newspaper-o fa-bullhorn file-text --> 
					<div class="note">
						<i class="fa fa-bullhorn fa-fw"></i>
						<a class="off" href="{{ post.url }}">
						{{ post.title }}
						</a>
					</div>
					<div class="smallspacer"></div>
					<div class="smallnote">
						{{ post.date | date: "%b %-d, %Y" }}
					</div>
					<div class="bigspacer"></div>
			{% endfor %}

		</div>
	</div>

	<!-- third column --> 
	<div class="col-md-4">
		<div class="head">
			<a class="off" href="/Papers/">
				Recent papers
			</a>
		</div>
		<div class="spacer"></div>

		<div class="feedbox">
			{% for paper in site.categories.Papers limit:3 %}

					<div class="note">
						<i class="fa fa-file-text-o fa-fw"></i>
						<a class="off" href="{{ paper.pdf }}">
						{{ paper.title }}
						</a>
					</div>
					<div class="smallspacer"></div>
					<div class="smallnote">
					{{ paper.date | date: "%b %-d, %Y" }}
					</div>
					<div class="spacer"></div>
			{% endfor %}
		</div>
	</div>
</div>

<!-- set footer --> 

<div id="footer">
  <nav class="navbar navbar-light bg-navbar">
    <div class="container ml-auto">
      <ul class="navbar-nav flex-row">
        <li class="nav-item">
          <a class="nav-link px-2" href="/misc/contact/">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

